{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Контакти{% endblock%}

{% block body %}
    <header>
        <h1>Контакти</h1>
    </header>

    {% for flashMessage in app.session.flashbag.get('blogger-notice') %}
        <div class="blogger-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <p>Щоб з нами зв'язатися, заповніть, будь ласка, форму:</p>
    <form action="{{ path('BloggerBlogBundle_contact') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}

        {{ form_rest(form) }}

        <input type="submit" value="Відправити" />
    </form>
{% endblock %}