{% extends 'BloggerBlogBundle::layout.html.twig' %}
{% block title %}{{ 'page.index.title'|trans({}, 'translation') }}{% endblock %}

{% block body %}
    {% for blog in blogs %}
        <article class="blog">
            <div class="date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time></div>
            <header>
                <h2><a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id, 'slug': blog.slug }) }}">{{ blog.title }}</a></h2>
            </header>

            <img src="{{ asset(['bundles/bloggerblog/images/', blog.image]|join) }}" />
            <div class="snippet">
                <p>{{ blog.blog(500) }}</p>
                <p class="continue"><a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id, 'slug': blog.slug }) }}">{{ 'page.index.learn_more'|trans({}, 'translation') }}...</a></p>
            </div>

            <footer class="meta">
                <p><img class="img" src="{{ asset('bundles/bloggerblog/images/comments.png')}}"/>{{ 'page.index.comments'|trans({}, 'translation') }}: <a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id, 'slug': blog.slug }) }}#comments">{{ blog.comments|length }}</a></p>
                <p><img class="img" src="{{ asset('bundles/bloggerblog/images/views.png')}}"/>{{ 'page.index.views'|trans({}, 'translation') }}: {{ blog.views }}</p>
                <p><img class="img" src="{{ asset('bundles/bloggerblog/images/like.png')}}"/>{{ 'page.index.like'|trans({}, 'translation') }}: -</p>
                <p><img class="img" src="{{ asset('bundles/bloggerblog/images/author.png')}}"/>{{ 'page.index.author'|trans({}, 'translation') }}: <span class="highlight">{{blog.author}}</span>, {{ blog.created|date('d-m-Y') }} о {{ blog.created|date('H:m:s') }}</p>
                <p><img class="img" src="{{ asset('bundles/bloggerblog/images/tags.png')}}"/>{{ 'page.index.tegs'|trans({}, 'translation') }}: <span class="highlight">{{ blog.tags }}</span></p>
            </footer>
        </article>
    {% else %}
        <p>{{ 'page.index.not_found_post_in_the_blog'|trans({}, 'translation') }} Blogger 2015</p>
    {% endfor %}
{% endblock %}