{% for comment in comments %}
    <article class="comment {{ cycle(['odd', 'even'], loop.index0) }}" id="comment-{{ comment.id }}">
        <header>
            <p><span class="highlight">{{ comment.user }}</span> коментовано {{ comment.created|date('d-m-Y о H:m:s') }}</p>
        </header>
        <p>{{ comment.comment }}</p>
    </article>
{% else %}
    <p>До цього поста поки немає коментарів. Будьте першим і додайте свій коментар ...</p>
{% endfor %}